body{
    margin:auto;
    height:vw;
    width:vh;
    display:flex;
    flex-direction:column;
    font-family: monospace;
align-items:center;
    
}

header{
    width:1200px;
    height:50px;
    background-color:rgba(236, 203, 236, 0.705);
    align-content: center;
    padding:5px;
    margin:5px;
}

a{
    margin:10px;
    padding: 10px;
    font-size:16px;
    font:monospace bolder;
}
main{
    display:flex;

    width:1200px;
    height:1080px;
    
    background-color:rgba(148, 158, 187, 0.473);
    border-style:hidden
    border-width:4px;
    padding:5px;
    margin:5px;

}
iframe{
    width:870px;
    height:800px;
    background-color:rgba(148, 158, 187, 0.473);
    border-style:inset;
    border-width:4px;
    padding:5px;
    margin:5px;
}
.iframebody{
    width:870px;
    padding:4px;
    display:flex;
    background-color:rgba(236, 203, 236, 0.705);
}
.main{
    width:870px;
    height:800px;
    display:flex;
    background-color:rgba(148, 158, 187, 0.473);
    border-style:inset;
    border-width:4px;
    padding:5px;
    margin:5px; 
}
.left-wrapper{
    float:left;
    display:flex;
    flex-direction:column;
    height:800px;
}
.right-wrapper{
    float:right;
    display:flex;
    flex-direction:column;
    height:800px;
}
.left-sidebar{
    float:left;
    flex-direction:column;
    justify-content:center;
    height:200px;
    width:160px;
    background-color:rgba(148, 158, 187, 0.473);
    border-style:inset;
    border-width:4px;
    margin: 5px;
}
 .left-sidebar2{
    float:left;
    flex-direction:column;
    height:400px;
    width:160px;
    background-color:rgba(148, 158, 187, 0.473);
    border-style:inset;
    border-width:4px;
    margin: 5px;
 }   
.right-sidebar{
    float:right;
    flex-direction:column;
    height:200px;
    width:160px;
    background-color:rgba(148, 158, 187, 0.473);
    border-style:inset;
    border-width:4px;
    margin: 5px;
}
.right-sidebar2{
    float:right;
    flex-direction:column;
    height:200px;
    width:160px;
    background-color:rgba(148, 158, 187, 0.473);
    border-style:inset;
    border-width:4px;
    margin: 5px;
}
  

.page-header{
    display:flex;
    justify-content:center;
    width:160px;
    height:20px;
    margin:5px;
    padding:px;
}
.link1{
    display:flex;
    justify-content:center;
    width:160px;
    height:20px;
    margin:5px;
    padding:px;
}
.link2{
    display:flex;
    justify-content:center;
    width:160px;
    margin:5px;
    padding:px;
    height:20px;
}
.link3{
    display:flex;
    justify-content:center;
    width:160px;
    height:20px;
    margin:5px;
    padding:px;
    


}

#whyblog{
border-style:dotted;
padding:10px;
margin:10px;
}
#aboutme{
   border-style:dotted;
   padding:10px;
   margin:10px;
}

.fashionsection{
   padding:10px;
   margin:10px;
}